appnope
asttokens
attrs
bleach
certifi
charset-normalizer
comm
contourpy
cramjam
cycler
debugpy
e
executing
fastjsonschema
fastparquet
filelock
fonttools
fsspec
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupytext
kaggle
kagglesdk
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mpmath
nbformat
nest-asyncio2
networkx
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
python-dotenv
python-slugify
PyYAML
pyzmq
referencing
requests
rpds-py
setuptools
six
stack-data
sympy
text-unidecode
torch
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
webencodings
